.ms-content-wrapper {
	margin-top: 60px;
    margin-bottom: 20px;
}

.ms-content {
	width: 100%;
}

.ms-content .flex-gap-20 {
	display: flex;
	gap: 20px;
}

.ms-content-header {
	background-image: url('/assets/image/banner_bg2.png');
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 30px 10%;
}

.ms-content-header-title {
	font-size: 28px;
	color: #005537;
	font-weight: 600;
}

.ms-content-body {
	padding: 20px 10%;
}


@media (max-width: 2048px) {
	.ms-content .search-input-area {
		width: 400px;
	}
	
	.ms-content #plotly-upload-spectrum {
		width: calc(100% - 400px);
		min-height: 450px;
	}
}

@media (max-width: 1600px) {
	.ms-content .search-input-area {
		width: 300px;
	}
	
	.ms-content #plotly-upload-spectrum {
		width: calc(100% - 300px);
		min-height: 450px;
	}
}

.ms-content .search-input-gap {
	margin-top: 20px;
}

.ms-content .el-tabs__item {
	font-size: 16px !important;
}

.ms-content .el-tabs--border-card {
	-webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.ms-content .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    color: #064f37 !important;
}

.ms-content .el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
	color: #064f37 !important;
}

.ms-content .el-textarea__inner {
	border-width: 2px !important;
}

.ms-content .el-textarea__inner:focus {
    border-color: #156340 !important;
    border-width: 2px !important;
}

.ms-content .el-input__inner {
	border-width: 2px !important;
}

.ms-content .el-input__inner:focus {
    border-color: #156340 !important;
}

.ms-content .form-input-label {
	color: #005537;
	margin-bottom: 8px;
}

.ms-content textarea {
	font-size: 1rem !important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Source Sans Pro", sans-serif !important;
}

.ms-content .search-btn {
	width: 100%;
	display: flex;
	justify-content: center;
}

.ms-content .el-input-number__decrease, .el-input-number__increase {
    display: none !important;
}

.ms-content .ms-search-result-table-container {
	padding: 20px;
	border: 1px solid #DCDFE6;
	background-color: white;
}

.ms-content .back-btn {
	margin-bottom: 15px;
	font-weight: 600;
	font-family: 'OpenSans-Regular';
}

#ms-search-result-table .el-table .cell {
	display: flex !important;
}

#ms-search-result-table .el-table th.el-table__cell {
	background-color: seagreen !important;
	color: white !important;
}

#ms-search-result-table .el-table__body tr:hover>td.el-table__cell {
	background-color: rgba(233, 244, 218, 0.3) !important;
}

#ms-search-result-table .el-button--primary {
	background-color: seagreen !important;
	border-color: seagreen !important;
}

#ms-search-result-table tr td:nth-child(2) .cell {
	white-space: pre-line;
}

.ms-content .el-dialog__body {
	padding: 0 !important;
}

.ms-content .tag1 {
	padding: 2px 6px;
	border-radius: 5px;
	color: white;
	background-color: #0075ca;
}

.ms-content .tag2 {
	padding: 2px 6px;
	border-radius: 5px;
	color: white;
	background-color: #f1862f;
}

.ms-content .tag3 {
	padding: 2px 6px;
	border-radius: 5px;
	color: white;
	background-color: #39d7a3;
}

.ms-content .table-gauge-background {
	background-color: #ededed;
	width: 100%;
	height: 20px;
	border: none;
	border-radius: 4px;
}

.ms-content .table-gauge-bar-green {
	background-color: #c4e0c0;
	height: 20px;
	border-right: 3px solid #56a64b;
	border-radius: 4px;
}

.ms-content .table-gauge-text-green {
	color: rgb(86, 166, 75);
	font-family: 'OpenSans-Regular';
	padding-left: 10px;
	font-weight: 600;
}

.ms-content .table-gauge-bar-yellow {
	background-color: rgba(241, 134, 47, 0.4);
	height: 20px;
	border-right: 3px solid rgb(241, 134, 47);
	border-radius: 4px;
}

.ms-content .table-gauge-text-yellow {
	color: rgb(241, 134, 47);
	font-family: 'OpenSans-Regular';
	padding-left: 10px;
	font-weight: 600;
}

.ms-content .table-gauge-bar-red {
	background-color: #f4b6be;
	height: 20px;
	border-right: 3px solid #e1394d;
	border-radius: 4px;
}

.ms-content .table-gauge-text-red {
	color: rgb(224, 47, 68);
	font-family: Roboto, Helvetica, Arial, sans-serif;
	padding-left: 10px;
	font-weight: 500;
}