<div>
	<div class="content-wrapper">
		<div class="flex">
			<div class="content">
				<div class="content-header">
					<div>
						<div class="content-header-title" style="margin-bottom:12px;">{{ searchHit.englishName }}</div>
						<div class="content-header-title">{{ searchHit.chineseName }}</div>
					</div>
				</div>
				<div class="content-body">
					<div id="overview" ref="overview" class="content-item-wrapper scroll-margin">
						<div class="content-item-header">
							<img src="/icon/icon-id.svg">
							<span>ID and Overview</span>
						</div>
						<div class="content-item">
							<div class="column-table">
								<div class="flex">
									<div class="flex" style="width:50%">
										<div class="column-table-header">NPMS</div>
										<div class="column-table-cell" v-html="searchHit.ipt"></div>
									</div>
									<div class="flex" style="width:50%">
										<div class="column-table-header column-table-border-left">LOTUS</div>
										<div class="column-table-cell">
											<a :href="'https://lotus.naturalproducts.net/compound/lotus_id/' + searchHit.lotus " target="_blank" v-html="searchHit.lotus"></a>
										</div>
									</div>
								</div>
								<div class="column-table-border-top flex">
									<div class="flex" style="width:50%">
										<div class="column-table-header">CAS</div>
										<div class="column-table-cell">{{ searchHit.cas }}</div>
									</div>
									<div class="flex" style="width:50%">
										<div class="column-table-header column-table-border-left">PubChemCID</div>
										<div class="column-table-cell">
											<a :href="'https://pubchem.ncbi.nlm.nih.gov/#query=' + searchHit.pubChemCID " target="_blank" v-html="searchHit.pubChemCID"></a>
										</div>
									</div>
								</div>
								<div class="column-table-border-top flex">
									<div class="flex" style="width:50%">
										<div class="column-table-header">Wikidata</div>
										<div class="column-table-cell">{{ searchHit.wikidata }}</div>
									</div>
									<div class="flex" style="width:50%">
										<div class="column-table-header column-table-border-left">COCONUT</div>
										<div class="column-table-cell"></div>
									</div>
								</div>
								<div class="column-table-border-top flex">
									<div class="column-table-header">English Synonyms</div>
									<div class="column-table-cell" v-html="formatedEnglishSynonyms"></div>
								</div>
								<div class="column-table-border-top flex">
									<div class="column-table-header">Chinese Synonyms</div>
									<div class="column-table-cell" v-html="formatedChineseSynonyms"></div>
								</div>
							</div>
						</div>
					</div>
					<div id="identifiers" ref="identifiers" class="content-item-wrapper scroll-margin">
						<div class="content-item-header">
							<img src="/icon/icon-chemical.svg">
							<span>Chemical Identifiers</span>
						</div>
						<div class="content-item">
							<div class="column-table">
								<div class="flex">
									<div class="flex" style="width:50%">
										<div class="column-table-header">Molecular Formula</div>
										<div class="column-table-cell">{{ searchHit.molecularFormula }}</div>
									</div>
									<div class="flex" style="width:50%">
										<div class="column-table-header column-table-border-left" style="width:200px;">Charge State</div>
										<div class="column-table-cell">{{ searchHit.charge }}</div>
									</div>
								</div>
								<div class="column-table-border-top flex">
									<div class="flex" style="width:50%">
										<div class="column-table-header">Monoisotopic Mass</div>
										<div class="column-table-cell">{{ searchHit.monoisotopicMass }}</div>
									</div>
									<div class="flex" style="width:50%">
										<div class="column-table-header column-table-border-left" style="width:200px;">Average Molecular Weight</div>
										<div class="column-table-cell">{{ searchHit.avgMolecularWeight }}</div>
									</div>
								</div>
								<div class="column-table-border-top flex">
									<div class="column-table-header">InChI Key</div>
									<div class="column-table-cell">{{ searchHit.inChIKey }}</div>
								</div>
								<div class="column-table-border-top flex-stretch">
									<div class="column-table-header">SMILES</div>
									<div class="column-table-cell">{{ searchHit.smiles }}</div>
								</div>
								<div class="column-table-border-top flex">
									<div class="column-table-header">Structure</div>
									<div class="column-table-cell">
										<img :src="'/assets/img/' + ipt + '.svg'" style="height:200px;">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="taxonomy" ref="taxonomy" class="content-item-wrapper scroll-margin">
						<div class="content-item-header">
							<img src="/icon/icon-taxonomy.svg">
							<span>Chemical Taxonomy</span>
						</div>
						<div class="content-item">
							<div class="card">
								<div class="card-header">
									<div class="card-title">NP Classifier</div>
								</div>
								<div class="card-body">
									<div class="border-card-green">
										<div style="height:100px;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="ms1" ref="ms1" class="content-item-wrapper scroll-margin">
						<div class="content-item-header">
							<img src="/icon/icon-spectra.svg">
							<span>Experimental MS1 Spectra</span>
							<el-select v-model="selectedMS1Spectra" @change="renderMs1Plot" size="small" style="margin-left:10px; width:150px;">
							    <el-option v-for="item in ms1SpectraOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
							</el-select>
						</div>
						<div class="content-item">
							<div class="card" style="width:100%">
								<div class="card-header">
									<div class="card-title flex-center">
										<img src="/icon/icon-title.svg">
										<span v-show="selectedMS1Spectra === 'positive-ms1'">Positive MS1</span>
										<span v-show="selectedMS1Spectra === 'negative-ms1'">Negative MS1</span>
									</div>
								</div>
								<div class="card-body">
									<div id="plotly-ms1" class="spectrum-container"></div>
									<div class="column-table">
										<div class="flex">
											<div class="flex" style="width:50%">
												<div class="column-table-header">MS Instrument:</div>
												<div class="column-table-cell">Q Exactive Orbitrap</div>
											</div>
											<div class="flex" style="width:50%">
												<div class="column-table-header column-table-border-left" style="width:200px;">Positive MS1 Annotation:</div>
												<div class="column-table-cell">{{ searchHit.ms1PositiveAnnotation }}</div>
											</div>
										</div>
										<div class="column-table-border-top flex">
											<div class="flex" style="width:50%">
												<div class="column-table-header">Ion Source:</div>
												<div class="column-table-cell">Heated ESI</div>
											</div>
											<div class="flex" style="width:50%">
												<div class="column-table-header column-table-border-left" style="width:200px;">Negative MS1 Annotation:</div>
												<div class="column-table-cell">{{ searchHit.ms1NegativeAnnotation }}</div>
											</div>
										</div>
										<div class="column-table-border-top flex">
											<div class="flex" style="width:50%">
												<div class="column-table-header">MS1 Resolution:</div>
												<div class="column-table-cell">70,000 FWHM</div>
											</div>
											<div class="flex" style="width:50%">
												<div class="column-table-header column-table-border-left" style="width:200px;">Creation Time:</div>
												<div class="column-table-cell"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="ms2" ref="ms2" class="content-item-wrapper scroll-margin">
						<div class="content-item-header">
							<img src="/icon/icon-spectra.svg">
							<span>Experimental MS2 Spectra</span>
							<el-select v-model="selectedMS2Spectra" @change="renderMs2Plot" size="small" style="margin-left:10px;">
							    <el-option v-for="item in ms2SpectraOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
							</el-select>
						</div>
						<div class="content-item">
							<div class="card" style="width:100%;">
								<div class="card-header">
									<div class="card-title flex-center">
										<img src="/icon/icon-title.svg">
										<span>{{ selectedMS2Spectra }} MS2</span>
									</div>
								</div>
								<div class="card-body">
									<div id="plotly-ms2" class="spectrum-container"></div>
									<div class="column-table">
										<div class="flex">
											<div class="flex" style="width:50%">
												<div class="column-table-header">Precursor Ion:</div>
												<div class="column-table-cell"></div>
											</div>
											<div class="flex" style="width:50%">
												<div class="column-table-header column-table-border-left">Instrument Type:</div>
												<div class="column-table-cell">LC-ESI-HRMS</div>
											</div>
										</div>
										<div class="column-table-border-top flex">
											<div class="flex" style="width:50%">
												<div class="column-table-header">Fragmentation:</div>
												<div class="column-table-cell">HCD-MS2,  Collision gas N2</div>
											</div>
											<div class="flex" style="width:50%">
												<div class="column-table-header column-table-border-left">MS Analyzer:</div>
												<div class="column-table-cell">FTMS Orbitrap</div>
											</div>
										</div>
										<div class="column-table-border-top flex">
											<div class="flex" style="width:50%">
												<div class="column-table-header">Collision Energy:</div>
												<div class="column-table-cell">Stepped NCE, 15%+35%+55%</div>
											</div>
											<div class="flex" style="width:50%">
												<div class="column-table-header column-table-border-left">Polarity:</div>
												<div class="column-table-cell"></div>
											</div>
										</div>
										<div class="column-table-border-top flex">
											<div class="flex" style="width:50%">
												<div class="column-table-header">Spectral Entropy:</div>
												<div class="column-table-cell"></div>
											</div>
											<div class="flex" style="width:50%">
												<div class="column-table-header column-table-border-left">Curation Status:</div>
												<div class="column-table-cell">Recalibrated</div>
											</div>
										</div>
										<div class="column-table-border-top flex">
											<div class="flex" style="width:50%">
												<div class="column-table-header">Normalized Entropy:</div>
												<div class="column-table-cell"></div>
											</div>
											<div class="flex" style="width:50%">
												<div class="column-table-header column-table-border-left">Creation Time:</div>
												<div class="column-table-cell"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content-item-wrapper scroll-margin">
						<div class="content-item-header">
							<img src="/icon/icon-reference.svg">
							<span>Reference</span>
						</div>
						<div class="content-item">
							<div class="card">
								<div class="card-header">
									<div class="card-title flex gap-10">
										<img src="/icon/icon-pmid.svg">
										<div class="flex-column gap-10">
											<a :href="'https://pubmed.ncbi.nlm.nih.gov/' + searchHit.pmid " target="_blank" v-if="searchHit.pmid !== undefined">PMID: {{ searchHit.pmid }}</a>
											<a :href="'https://www.ncbi.nlm.nih.gov/pmc/articles/' + searchHit.pmcid " target="_blank" v-if="searchHit.pmcid !== undefined">PMCID: {{ searchHit.pmcid }}</a>
											<a :href="'https://doi.org/' + searchHit.doi " target="_blank" v-if="searchHit.doi !== undefined">DOI: {{ searchHit.doi }}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="position:relative;">
				<div class="directory">
					<div class="directory-header">CONTENTS</div>
					<div v-for="item in directoryItems" :key="item.id">
						<a @click="navigateToSection(item.id)">
							<div class="flex-center directory-item" :class="{ 'directory-item-active': item.active }">
								<img :src="item.icon" style="margin-right: 8px;">{{ item.label }}
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>