.directory {
	width: 300px;
	box-sizing: border-box;
	border: 1px solid #dadce1;
	height: fit-content;
	box-shadow: 0 2px 4px 0 #e8e8e899;
	background-color: white;
	position: fixed;
	top: 100px;
}

.directory-header {
	color: #1e1e1e;
	font-size: 20px;
	font-weight: 600;
	padding: 15px 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.directory-item {
	padding: 10px 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	font-weight: 500;
	color: #343434;
}

.directory-item:hover {
	color: #064f37;
	background-color: #e6f0d7;
	cursor: pointer;
}

.content-wrapper {
	margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 60px;
}

.content {
	margin-right: 20px;
	width: calc(100% - 320px);
}

.content-header {
	background-image: url('/assets/image/banner_bg2.png');
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 30px 40px;
}

.content-header-title {
	font-size: 28px;
	color: #005537;
	font-weight: 600;
	margin-top: 10px;
}

.content-header-desc {
	font-size: 18px;
	color: #f5f5f5;
}

.content-body {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.content-item-wrapper {
	box-shadow: 0 2px 4px 0 #e8e8e899;
}

.content-item-header {
	font-size: 18px;
	font-weight: 600;
	color: #174e3a;
	padding: 12px 40px;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-bottom: none;
	background-color: #f5fafa;
	border-radius: 10px 10px 0 0;
	display: flex;
	align-items: center;
}

.content-item-header > img {
	height: 16px;
	margin-right: 8px;
}

.content-item {
	padding: 25px 40px;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0 0 10px 10px;
	background-color: white;
}

.column-table {
	border: 1px solid rgba(0, 0, 0, 0.125);
	box-shadow: 0 2px 4px 0 #e8e8e899;
}

.column-table-border-top {
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.column-table-border-left {
	border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.column-table-header {
	width: 200px;
	background-color: #f5f5f5;
	padding: 12px 15px;
	color: #858585;
	border-right: 1px solid rgba(0, 0, 0, 0.125);
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
}

.column-table-cell {
	padding: 12px 15px;
	display: flex;
}

.card {
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 10px;
}

.card-header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-title {
	padding: 15px 15px;
	font-weight: 500;
}

.card-title > img {
	height: 24px;
	margin-right: 8px;
}

.card-body {
	padding: 12px 15px;
}

.border-card-green {
	border-radius: 5px;
	border: 1px solid #91b455;
	border-top-width: 4px;
	padding: 10px 12px;
	background-color: #f0faf5;
}

.spectra-container {
	height: 400px;
}