.excel-upload-input {
	display: none;
	z-index: -9999;
}

.drop {
	border: 2px dashed #bbb;
	height: 120px;
	line-height: 120px;
	margin: 0 auto;
	font-size: 20px;
	border-radius: 5px;
	text-align: center;
	color: #bbb;
	position: relative;
}

.drop:hover {
	background-color: #f5f7fa;
}