<div>
	<div id="query-container">
	    <div class="display-flex" style="align-items:center; margin-top:10px;">
			<a @click="backHome()">
		   		<img src="/img/herbomics-logo.png" style="height:80px;">
		   	</a>
			<div style="width:800px">
		    	<div class="display-flex search-container">
			        <el-input v-model="keyword"></el-input>
			        <el-button type="primary" class="flex-center icon-search" @click="onSearchBtnClick">
			        	<span class="f-1125">Search</span>
			        </el-button>
			    </div>
			</div>
		</div>
	</div>
	<div id="content-container" v-if="searchResult.length > 0">
    	<ul class="unstyled-list">
    		<li v-for="item in searchResult">
    			<div class="box-shadow b-radius f-lh-135">
    				<div class="flex-container flex-nowrap p-md-rectangle width-100">
    					<div style="width:200px; max-width:200px;">
    						<img :src="'/assets/img/' + item.ipt + '.svg'" @error="handleImageError" style="width:200px;">
    					</div>
    					<div class="flex-grow-1 p-md-left" style="max-width: calc(100% - 300px);">
    						<div class="f-medium f-1125">
    							<div class="p-sm-top p-sm-bottom">
    								<a @click="gotoDetails(item)" target="_blank" v-html="truncateMessage(item.message)"></a>
    							</div>
    						</div>
    						<div class="f-0875">
    							<div class="p-xsm-top p-xsm-bottom inline-block">
    								<span class="f-medium">English Name: </span>
    								<span v-html="item.englishName"></span>
    							</div>
    						</div>
    						<div class="f-0875">
    							<div class="p-xsm-top p-xsm-bottom inline-block">
    								<span class="f-medium">Chinese Name: </span>
    								<span v-html="item.chineseName"></span>
    							</div>
    						</div>
    						<div class="f-0875">
    							<div class="p-xsm-top p-xsm-bottom inline-block">
    								<span class="f-medium">Chinese Name Alias: </span>
    								<span v-html="item.chineseNameAlias"></span>
    							</div>
    						</div>
    						<div class="f-0875">
    							<div class="p-xsm-top p-xsm-bottom inline-block">
    								<span class="f-medium">Pathway: </span>
    								<span v-html="item.pathway"></span>
    							</div>
    						</div>
    						<div class="f-0875">
    							<div class="p-xsm-top p-xsm-bottom inline-block">
    								<span class="f-medium">IPT: </span>
    								<span v-html="item.ipt"></span>
    							</div>
    						</div>
    						<div class="f-0875">
    							<div class="p-xsm-top p-xsm-bottom inline-block">
    								<span class="f-medium">PubChem CID: </span>
    								<a class="f-medium" :href="'https://pubchem.ncbi.nlm.nih.gov/#query=' + item.pubChemCID " target="_blank" v-html="item.pubChemCID"></a>
    							</div>
    						</div>
    						<div class="f-0875">
    							<div class="p-xsm-top p-xsm-bottom inline-block">
    								<span class="f-medium">Lotus ID: </span>
    								<a class="f-medium" :href="'https://lotus.naturalproducts.net/compound/lotus_id/' + item.lotus " target="_blank" v-html="item.lotus"></a>
    							</div>
    						</div>
    						<div class="f-0875">
    							<div class="p-xsm-top p-xsm-bottom inline-block">
    								<span class="f-medium">SMILES: </span>
    								<span v-html="item.smiles"></span>
    							</div>
    						</div>
    						<div class="f-0875">
    							<div class="p-xsm-top p-xsm-bottom inline-block">
    								<span class="f-medium">Super Class: </span>
    								<span v-html="item.superclass"></span>
    							</div>
    						</div>
    						<div class="f-0875">
    							<div class="p-xsm-top p-xsm-bottom inline-block">
    								<span class="f-medium">Class: </span>
    								<span v-html="item.class"></span>
    							</div>
    						</div>
    						<div style="margin-top:10px;">
    							<el-button size="mini" class="el-btn-plain" @click="downloadMolFile(item.molFile)">
    								<div class="flex-center">
	    								<span style="margin-right:8px;">
	    									<svg t="1732686559099" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2626" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12"><path d="M1024 896v128H0v-320h128v192h768v-192h128v192zM576 554.688L810.688 320 896 405.312l-384 384-384-384L213.312 320 448 554.688V0h128v554.688z" fill="#1f62e0" p-id="2627"></path></svg>
	    								</span>
	    								<span>Mol File</span>
    								</div>
    							</el-button>
    						</div>
    					</div>
    				</div>
    				<div class="b-top b-light p-md-rectangle">
    					<div class="f-0875 p-xsm-top p-xsm-bottom inline-block p-l-right">
    						<a class="f-medium" href="https://www.google.com" target="_blank">Summary</a>
    					</div>
    					<div class="f-0875 p-xsm-top p-xsm-bottom inline-block p-l-right">
    						<a class="f-medium" href="https://www.google.com">Similar Structures Search</a>
    					</div>
    					<div class="f-0875 p-xsm-top p-xsm-bottom inline-block p-l-right">
    						<a class="f-medium" href="https://www.google.com" target="_blank">Related Records</a>
    					</div>
    				</div>
    			</div>
    		</li>
    	</ul>
    </div>
</div>